{% extends 'base.html' %}
{% block title %}Opis projektu{% endblock %}
{% block content %}
            <h1>Projekt aplikacji</h1>
            <div>
                <h3>Cel aplikacji</h3>
                <p>Zaliczenie przedmiotu Pracowania Programowania 2 i wyświetlanie zbiorczo opinii o zadanym produkcie</p>
            </div>
            <div>
                <h3>Opis działania aplikacji</h3>
                <p>Głównie czarna magia i trochę Flaska</p>
            </div>
            <div>
                <h3>Zastosowane biblioteki</h3>
                <p>
                    Beautifulsoup4
                    Flask
                    Jinja2
                    BeautyfulSoup4
                    Requests
                    Json
                    Os
                    Pandas
                    Numpy
                    Matplotlib
                </p>
            </div>
            <div>
                <h3>Zastosowane podejścia</h3>
                <p>Podejście obiektowe ale i strukturalne</p>
            </div>
        </div>
{% endblock %}        
