{% extends 'base.html' %}
{% block title %}Lista produktów{% endblock %}
{% block content %}
              <table class="table">
                  <thead>
                      <tr>
                          <th>Nazwa produktu</th>
                          <th>Liczba opinii</th>
                          <th>Liczba wad</th>
                          <th>Liczba zalet</th>
                          <th>Średnia ocena</th>
                          <th>Pobierz opinie</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td><a href="{{url_for('strona_produktu')}}">Mock_data</a></td>
                          <td>Placeholder</td>
                          <td>Placeholder</td>
                          <td>Placeholder</td>
                          <td>Placeholder</td>
                          <td>
                              <a href="plik.csv" class="btn btn-primary">Pobierz CSV</a>
                              <a href="plik.xlsx" class="btn btn-primary">Pobierz XLSX</a>
                              <a href="plik.json" class="btn btn-primary">Pobierz JSON</a>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
         
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock %} 